.jumbotron {
  height: 80vh;
  background-color: transparent !important;
  margin: 0 !important;
  padding: 0 !important;
}
.indexbutton {
  background-color: #d9d9d9;
  border: 0.5px solid transparent;
  border-radius: 5px;
  padding: 8px;
  transition: border-radius 0.5s;
}
.indexbutton:hover {
  border: 0.5px solid transparent;
  background-color: #33ccff;
  border-radius: 15px;
}
.img {
  animation-name: example;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes example {
  from {
    transform: translate(0px, -15px);
  }
  to {
    transform: translate(0px);
  }
}
