.postmain {
  min-height: 80vh;
  background-color: transparent !important;
  margin: 0 !important;
  padding: 0 !important;
}
.postframework {
  height: 75vh;
  width: 80%;
  backdrop-filter: blur(1.5px);
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 15px;
  z-index: 1;
}
